.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.NavbarFont {
  font-size: 20px;
  padding: 50px;
  color: white;
}

.HomeHeader {
  padding-top: 200px;
  color: white;
}

.PageHeader {
  color: white;
}

.searchPageContainer {
  max-width: 50vh;
  }

  .movieImage {
    max-width: 300px;
    max-height: 450px;
    height: auto;
  }

.movieCard {
  margin-top:10px;
  margin-bottom: 10px;
  max-width: 300px !important;
  
}

.trailerBox {
  margin-top:5vh;
  width: 25vw;
  height: 30vh;
}
.modalImage {
    max-width: 15vw;
    max-height: 40vh;
    height: auto;
}

.movieModal {
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  height: 80vh;
  background-color: #000 !important;
  padding-top: 4vh;
  padding-right: 2vw;
  padding-bottom: 4vh;
  padding-left: 2vw;
}

.background {
    background-image: url('https://images.unsplash.com/photo-1471877325906-aee7c2240b5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    padding-top: 10px;
    padding-right: 5vw;
    padding-bottom: 30px;
    padding-left: 5vw;
    min-height: 100vh;
    margin: 0;
    background-color: black;
    background-size: cover;
    object-fit: fill;
    background-repeat: no-repeat;
    background-attachment:  fixed;
    position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
